@media screen and (max-width:320px){

header .container{
    display: flex;
    flex-direction: column;
}

.filme-cartaz .sinopse{
    margin-left: 5%;
    width:60%;
}

.b-button button:first-child{
    padding-right: 17%;
    
}


}